@charset "utf-8";

/* 一行省略 */
@mixin text-overflow-inline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 多行省略 */
@mixin text-overflow-multi($lineNum){
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: $lineNum;
}

/* 小边框 */
@mixin half-line-right($color) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 10%;
        right: 0;
        height: 80%;
        -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border-right: .05rem solid $color;
        pointer-events: none;
    }
    &:last-of-type:after {
        content: none;
    }
}
@mixin half-line-top($color) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border-top: .05rem solid $color;
        pointer-events: none;
    }
}
@mixin half-line-bottom($color) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border-bottom: .05rem solid $color;
        pointer-events: none;
    }
}
@mixin half-line-up-down($color) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border: .05rem solid $color;
        border-left: none;
        border-right: none;
        pointer-events: none;
    }
}
@mixin half-line-border($color, $radius) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transform-origin: left top;
                transform-origin: left top;
        border: .05rem solid $color;
        border-radius: $radius;
        pointer-events: none;
        box-sizing: border-box;
    }
}

@mixin position-lr-zero($position) {
    position: $position;
    left: 0;
    right: 0;
}
@mixin position-all-zero($position) {
    position: $position;
    width: 100%;
    max-width: 800px;
    top: 0;
    bottom: 0;
}

@mixin transform-tb-center($position) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
@mixin transform-lr-center($position) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}
@mixin transform-all-center($position) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 需要固定的宽或高 */
@mixin margin-tb-center($position) {
    position: $position;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
@mixin margin-lr-center($position) {
    position: $position;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
@mixin margin-all-center($position) {
    position: $position;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}

/* flex布局 */
@mixin flex-box {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -webkit-flex;
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
@mixin flex-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
@mixin flex-main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;

    min-width: 0; /* 防止与overflow冲突导致内容溢出 */
}
@mixin flex-static-size {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
}
@mixin flex-item-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
@mixin flex-content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
@mixin flex-content-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
@mixin flex-content-around {
    -webkit-box-pack: center;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

@mixin overflow-auto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 横向滚动 */
@mixin overflow-x-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}